{% extends 'base.html'%}
{% block content %}
<style>
  #container {
    width:1500px;
    height: 600px;
    display: flex;
    display: -webkit-flex;
    /* 从左端开始沿水平轴防止flex item */
    flex-direction: row;
    /* 强制 flex item不换行，沿着同一行堆叠 */
    flex-wrap: nowrap;
    /* flex item在主轴上的对齐方式，这里定义左对齐 */
    justify-content: flex-start;
    /* 定义交叉轴对其方式 */
    align-items: flex-start
  }
</style>
<div id="container">
    <div id="his1" style="width: 600px;height:400px;"></div>
    <div id="his2" style="width: 300px;height:400px;"></div>
</div>>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('his1'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '热门城市后端开发薪酬直方图',
            subtext: '薪酬(k)'
        },
        tooltip: {},
        xAxis: {
            data: ['北京', '上海', '广州', '深圳', '杭州', '天津', '西安', '苏州', '武汉', '厦门', '长沙', '成都', '郑州', '重庆']
        },
        yAxis: {},
        series: [{
            type: 'bar',
            data: [{% for d in data1 %} {{d|safe}}, {% endfor %}]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('his2'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '热门编程语言薪酬直方图',
            subtext: '薪酬(k)'
        },
        tooltip: {},
        xAxis: {
            data: ['Python', 'Java', 'C++', 'C']
        },
        yAxis: {},
        series: [{
            type: 'bar',
            data: [{% for d in data2 %} {{d|safe}}, {% endfor %}]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

{% endblock %}

